*{
   font-family: Arial, Helvetica, sans-serif;
}

body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: aquamarine;
}

.tareas{
   display: flex;
   flex-direction: column;
   align-content: space-around;
   border: 2px solid blueviolet;
   width: 300px;
   padding: 5px;
}

.elementos{
   flex-direction: row;
}